.card{

    margin: 3rem;
    width: 100vh!important;
}

.product-title{

    font-size: 1rem!important;
    margin-bottom: 2rem!important;
}

.product-price{

    font-size: 1rem !important;
    font-weight: 600!important;
}

.page-title{

    text-align: center;
    padding-top: 1rem;
    line-height: 1rem;
    letter-spacing: 2px;
}

.page-p{

   max-width: 55%;
   text-align: center;
   margin: 0 auto;
   letter-spacing: 2px;
}




.slider-container{
    margin-top: 0.5rem;
    width: 15%
}

.slider{
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 95%;
    height: 1rem;
    background-color: white;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 1rem; /* Set a specific slider handle width */
    height: 1rem; /* Slider handle height */
    background: #0c0c0c; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
 .range{
    letter-spacing: 2.3px;
 }

 .dropdowns{
     background-color: gray;
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    

    .drop{
        margin-top: 1rem;
        background-color: gray;
        
    }
    .myControlClassName{
        background-color: gray;
        font-size: 1rem;
        color: white;
        font-weight: 500;
        letter-spacing: 1px;

    }
 }

 .no-results-section{
    background-color: powderblue;
    margin:0 auto;
    text-align: center;
    width: 90%;
    height: 50%;

    h1,p{
        letter-spacing: 2px;
        padding:1rem
    }

 }







