.cart-items {
  display: flex;
  justify-content: left;
  margin-top: 1rem;
  .description {
    font-size: 1rem;
    width: 10%;
  }
}
.img {
  width: 40%;
  height: 30%;
  background-repeat: no-repeat;
}
table {
  text-align: center;
  margin: 0 auto;
  width: 70%;
  margin-top: 3rem;
  border-spacing: 0rem 3rem;
}
td {
  width: 30%;
}

th {
  padding-bottom: 1rem;
  border-bottom: 1px dotted black;
}

.total {
  letter-spacing: 0.4rem;
  position: relative;
  left: 65rem;
  top: 1rem;
}
